.header {
    background-color: $color-gray;
    display: flex;
    justify-content: space-around;
}

.header__logo {
    gap: 30px;
}

.header__logo,
.header__BuhOne {
    display: flex;
    flex-direction: row;

}

.header__BuhOne {
    gap: 185px;
}

.header__nav {
    display: flex;
    flex-direction: column;

}

.header__info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    list-style: none;
    text-decoration: none;
    gap: 49px;

}

.header__menu {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 68px;
    text-transform: uppercase;
    font-family: "Lato";
    src: url("../Fonts/Lato-Bold.ttf");

}

.header__info,
.header__menu {
    flex-direction: row;

}

.header__info,
.header__menu,
.header__logo,
.header__BuhOne {
    display: flex;

    @media (max-width: $mobile) {
        display: flex;
        flex-shrink: 0;
        flex-direction: column;
        justify-content: center;


    }
}